 body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #151515, #000);
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url('video/124683-731575432_medium.mp4');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

  .row{
    display: flex;
    gap: 90px;
    flex-direction: row;
    margin-top: 0px;
  }
  h1 {
    color: gold;
    font-size: 3rem;
    margin-bottom: 35px;
    text-shadow: 0 0 18px gold;
  }

  .machine {
  display: flex;
  gap: 40px;           
  padding: 40px 50px; 
  border-radius: 30px;
  border: 6px solid gold;
      background-image: url('images/4519.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 80px rgba(255,215,0,0.6);
  overflow: hidden  ;
}

  .prize {          
  padding: 10px 20px; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 6px solid gold;
  border-top: none;
  background-image: url('images/4519.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 80px rgba(255,215,0,0.6);
  width: 200px;
}

  .title {          
  padding: 10px 20px; 
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 6px solid gold;
  border-bottom: none;
  background-image: url('images/4519.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 80px rgba(255,215,0,0.6);
  width: 800px;
  margin-top: 30px;
}

.h1{
  text-align: center;
  font-size: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reel {
  width: 300px;       
  height: 590px;      
  overflow: hidden;   
  border: 5px solid #333;
  border-radius: 25px;
  position: relative;
}

.reel-area{
  width: 300px;       
  height: 600px;      
  overflow: hidden;   
  border: 5px solid #333;
  border-radius: 25px;
  background: #000;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-image: url('images/reel.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


  .symbols {
    position: absolute;
    width: 100%;
    top: 0;
  }


  .symbol {
  height: 210px;           
  display: flex;           
  justify-content: center;  
  align-items: center;      
  transition: none !important;
  opacity: 1 !important;
  filter: none !important;
}

.buttons {
  margin-top: 50px;
  display: flex;
  gap: 25px;
  display: none;
}

button {
  padding: 18px 28px;  
  font-size: 1.5rem;
  border-radius: 15px;
}

  button:hover {
    transform: scale(1.08);
    background: #ffe55c;
  }

  .message {
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.9);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  position: relative;
  width: 80%;               
  max-width: 800px;          
  padding: 60px 80px;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-size: 3rem;          
  background: url('images/grunge-style-purple-pattern-background.jpg') center/cover no-repeat;
  border: 6px solid gold;
  box-shadow: 0 0 100px gold;
}

#popupMessage {
  white-space: normal;      
  font-size: 4rem;           
  text-align: center;
  text-shadow: 0 0 15px gold;
  line-height: 1.5;          
}


.close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 3.5rem;
  cursor: pointer;
  color: gold;
}

.close:hover {
  color: #ffe55c;
}

.glow {
  box-shadow: 0 0 40px gold, 0 0 80px gold inset;
  border-color: gold;
  transition: box-shadow 0.2s ease-in-out;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 40vh;
}

#celebrate {
  position: relative;
  top: 0;
  left: 90;
  width: 100vw;      
  height: 100%;     
  object-fit: fill; 
  mix-blend-mode: screen;

  pointer-events: none; 
  z-index: 9999;
  display: none;
}