body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, #222, #000);
  color: white;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/10199797.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin-top: 20px;
}

.wheel-container {
  position: relative;
  width: 60vw;       
  max-width: 600px;   
  height: 60vw;      
  max-height: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wheelCanvas {
  width: 85%;
  height: 85%;
  display: block;
  margin: 0 auto;
  transform-origin: 50% 50%;
  will-change: transform;
  z-index: 1;
  padding: 2px;
  position: relative;
  border-radius: 50%;
  box-shadow:inset 0px 0px 30px #514E49;
}

.wheel-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
  object-fit: contain; 
  z-index: 0;
  opacity: 0.8;
  filter: drop-shadow(0 0 6px rgba(49, 49, 49, 0.8));
}

.center {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: auto;
  z-index: 10;
  filter: drop-shadow(0 0 6px rgba(49, 49, 49, 0.8));
}

.pointer {
  position: absolute;
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 10%;
  height: auto;
  z-index: 10;
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.8));
}


button {
  background: #f39c12;
  color: white;
  border: none;
  padding: 14px 35px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s;
}

button:hover {
  background: #e67e22;
  transform: scale(1.05);
}

#result {
  margin-top: 25px;
  font-size: 24px;
  font-weight: bold;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 100;
}

.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup-content {
  background: #222;
  color: #fff;
  padding: 40px 60px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  animation: popupZoom 0.4s ease;
}

.popup-content h2 {
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: bold;
}

.popup-content button {
  background: #f39c12;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.popup-content button:hover {
  background: #e67e22;
  transform: scale(1.05);
}


@keyframes popupZoom {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



